.Banner2-Main {
  background-color: #000000;
  color: #ffffffff;
  margin: 0rem 0px 5rem 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.content {
  display: grid;
  place-items: center;
  text-align: center;
}
.content h1 {
  margin-top: 1rem;
  font-family: Astronomus;
  font-size: 76px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  width: 63%;
}
.content p {
  font-size: x-small;
  width: 500px;
  text-align: center;
  margin: 1.4rem 0px 5px 0px;
}

.content button {
  width: 80%;
  height: 35%;
  border-radius: 60px;
  background: linear-gradient(180deg, #2b1645 0%, #9442ba 100%);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #3b2c4e 0%, #4b206c 100%);
  transition: border-color 0.3s ease;
}
.content button:hover {
  border: #ffffffff 1px solid;
}

.buttonImg {
  width: 70px;
}

/* SOLLER SYSTEM CODE START  HERE  */
.solar-system {
  position: relative;
  width: 300px;
  height: 250px;
  margin: 0 auto;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1.06px solid rgba(255, 255, 255, 0.06);
  border-radius: 220px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.orbit00 {
  width: 370%;
  height: 230%;
}
.orbit0 {
  width: 330%;
  height: 200%;
}
.orbit1 {
  width: 280%;
  height: 170%;
}

.orbit2 {
  width: 250%;
  height: 150%;
}

.orbit3 {
  width: 220%;
  height: 130%;
}

.orbit4 {
  width: 190%;
  height: 110%;
}

.orbit5 {
  width: 160%;
  height: 90%;
}
.orbit6 {
  width: 130%;
  height: 70%;
}
.orbit7 {
  width: 100%;
  height: 50%;
}

.circle {
  position: absolute;
  width: 5px; 
  height: 5px; 
  background-color: #76389f;
  border-radius: 50%; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.orbit00 .circle {
  bottom: calc(30% - (50% / 2)); 
  right: calc(58.5% - (99% / 2)); 
}

.orbit0 .circle {
  bottom: calc(34% - (20% / 2)); 
  left: calc(50% - (96% / 2)); 
}

.orbit1 .circle {
  top: calc(50% - (70% / 2)); 
  left: calc(50% - (129% / 2)); 
}

.orbit2 .circle {
  top: calc(50% - (50% / 2)); 
  right: calc(50% - (131% / 2)); 
}

.orbit3 .circle {
  bottom: calc(50% - (80% / 2)); 
  left: calc(50% - (83% / 2)); 
}

.orbit4 .circle {
  bottom: calc(50% - (157% / 2)); 
  left: calc(50% - (10% / 2)); 
}

.orbit5 .circle {
  top: calc(50% - (170% / 2)); 
  left: calc(50% - (10% / 2)); 
}

.orbit6 .circle {
  bottom: calc(50% - (60% / 2)); 
  right: calc(50% - (119% / 2)); 
}

.orbit7 .circle {
  top: calc(50% - (50% / 2)); 
  left: calc(50% - (99% / 2)); 
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .content h1 {
    font-size: 50px;
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .Banner2-Main {
    margin: 0rem;
    padding: 1rem;
    text-align: center;
  }

  .content h1 {
    font-size: 1.5rem;
    width: 90%;
  }

  .content p {
    font-size: 0.875rem;
    width: 100%;
    margin: 1rem 0;
  }

  .content button {
    width: 60%;
    height: auto;
    padding: 0.5rem;
    border-radius: 30px;
  }

  .buttonImg {
    width: 50px;
  }

  .solar-system {
    width: 100%;
  }

  .orbit00 {
    width: 100%;
    height: 80%;
  }
  .orbit0 {
    width: 90%;
    height: 70%;
  }
  .orbit1 {
    width: 80%;
    height: 60%;
  }

  .orbit2 {
    width: 70%;
    height: 50%;
  }

  .orbit3 {
    width: 60%;
    height: 40%;
  }

  .orbit4 {
    width: 50%;
    height: 30%;
  }

  .orbit5 {
    width: 40%;
    height: 20%;
  }
  .orbit6 {
    width: 30%;
    height: 10%;
  }
  .orbit7 {
    width: 20%;
    height: 10%;
  }
}

/* BANNER 2 STYLING CODE END HERE   */
