.Footer-Main {
  background: rgba(10, 11, 13, 1);
  display: grid;
  place-items: center;
  margin: 0px 2rem 3rem 2rem;
  border-radius: 20px;
  border: 1px solid #231739;
  box-shadow: 0 0 10px #231739;
}
.Footer-Second-Navbar {
  width: 96%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: solid 1px;
  background-color: #000000;
  margin-bottom: 1rem;
}
.Footer-Second-Navbar img {
  width: 40px;
}
.Navbar-List-Main li {
  color: #ffffffff;
  font-size: small;
}
.Footer-Icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.Footer-Icons span {
  border: 1px solid white;
  border-radius: 40px;
  padding: 0.3rem 0.5rem;
  color: #ffffff;
}

.Footer-Icons span:hover {
  color: #000000;
  background-color: #ffffff;
}
.Banner1-button h3 {
  margin: 2rem 0px;
}
.Banner1-button button {
  background-color: #000000;
  color: #ffffff;
  border: #ffffff 1px solid;
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.Banner1-button button:hover {
  background-color: #ffffff;
  color: #000000;
}
.solar-system-Footer {
  height: 150px;
}
.Footer-List-Main ul {
  display: flex;
  padding: 0;
  margin: 1rem 0;
  list-style: none;
  text-align: center;
  left: 0 !important;
  top: 0 !important;
  z-index: 0 !important;
  position: relative;
  background-color: transparent;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .Footer-Main {
    margin: 0 1rem 2rem 1rem;
  }
  .Footer-Second-Navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  /* .Footer-List-Main ul {
    display: inline;
  } */

  .Navbar-List-Main ul {
    display: inline;
    padding: 0;
    margin: 1rem 0;
    list-style: none;
    text-align: center;
  }

  .Navbar-List-Main li {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }

  .Footer-Icons {
    margin-top: 1rem;
  }

  .Banner1-button {
    text-align: center;
  }

  .Banner1-button h2 {
    font-size: 1.5rem !important;
    margin: 1rem 0;
  }
  .Banner1-button h3 {
    font-size: 1.5rem !important;
    margin: 1rem 0;
  }

  .Banner1-button button {
    font-size: 1rem;
    padding: 0.3rem 1.5rem;
  }

  .solar-system-Footer {
    height: 100px;
    width: 100%;
  }
}
