.Cards-Main {
  margin: 0px 10%;
}
.card {
  background: linear-gradient(180deg, #201034 0%, #090211 100%);
}
.card-text {
  font-size: x-small;
  width: 100% !important;
  margin: 1rem 0px 1rem 0rem !important;
  text-align: center;
  color: #ffffffff;
}
.card-title {
  text-align: center;
  color: #ffffffff !important;
}
.card-body hr {
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(
    90deg,
    rgba(378, 499, 99, 0) 0%,
    rgba(1258, 479, 201, 0.5) 55.5%,
    rgba(783, 439, 99, 0) 100%
  );
  border-image-slice: 2;
}
.card-body button {
  margin: 0 0 0.2rem 0 !important;
  padding: 6px 0rem !important;
  min-width: 100%;
  text-align: center;
  color: #ffffffff;
  background: #000000;
  border: 1px solid !important;
  border-image-source: linear-gradient(180deg, #5b437a 0%, #492363 100%);
}
.card-body button:hover {
  background: linear-gradient(180deg, #2b1645 0%, #9442ba 100%);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1.7rem !important;
  border: 2px solid;
  border-image-source: linear-gradient(180deg, #3b2e4b 0%, #1e0f29 100%);
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid;
  border-radius: 3rem;
  border-image-source: linear-gradient(180deg, #3b2e4b 0%, #1e0f29 100%);
}

.card-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 2rem;
}
.card-body li {
  margin-bottom: 5px;
  color: #ffffffff;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: small;
}

@media (max-width: 768px) {
  .Cards-Main {
    margin: 0px 2% !important;
  }
}
