.Banner1-Main {
  background-color: #0a0b0d;
  display: grid;
  place-items: center;
  margin: 0px 2rem 0rem 2rem;
  border: 4px solid transparent;
  border-image: linear-gradient(256.39deg, #42edbc 7.2%, #c632fb 105.8%);
  border-image-slice: 1;
  z-index: 1;

  background-image: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
  background-size: 60px 60px;
}

.Gradiant-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(198, 50, 251, 0.6) 30.5%,
    rgba(198, 50, 251, 0) 100%
  );
  z-index: 0;
}

/* .Gradiant-color {
  top: 44%;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(198, 50, 251, 0.6) 30.5%,
    rgba(198, 50, 251, 0) 100%
  );
  position: absolute;
  z-index: 0 !important;
} */

.Banner1-button {
  display: grid;
  place-items: center;
  margin: 4rem 0px;
  color: #ffffff;
  width: 60%;
  z-index: 2;
}
.Banner1-button button {
  margin: 0rem 0px 1.5rem 0px;
  background: #ffffff;
  color: #000000;
  border-radius: 52px;
  padding: 0.5rem 1.5rem;
  border: none;
  font-weight: 700;
}
.banner1-bottom-content svg {
  font-size: 1rem !important;
  padding: 0;
  margin: 0;
}
.Banner1-button h2 {
  font-size: 76px !important;
  text-transform: uppercase;
}
.Banner1-button h1,
h2 {
  font-family: Astronomus;
  font-size: 110px;
  font-weight: 500;
  line-height: 78px;
  text-align: center;
  background: radial-gradient(
    70.88% 48.09% at 50% 60.11%,
    #af52f0 0%,
    #47e6bf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

.Banner1-contant {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Banner1-contant p {
  color: rgba(255, 255, 255, 1);
  font-size: x-small;
  width: 240px;
  font-family: Sora;
  text-align: justified;
}

.banner1-bottom-content {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.banner1-bottom-content button {
  background-color: #000000;
  color: #ffffff;
  border: #ffffff 1px solid;
  padding: 0px 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.banner1-bottom-content button:hover {
  background-color: #ffffff;
  color: #000000;
}

.Gradiant-color {
  top: 44%;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(198, 50, 251, 0.6) 30.5%,
    rgba(198, 50, 251, 0) 100%
  );
  position: absolute;
  z-index: 0 !important;
}

/* WEB RESPONCIVE MEDIA QUERY START HERE  */
@media screen and (min-width: 1900px) and (max-width: 2450px) {
  .Banner1-contant p {
    font-size: medium;
    width: 350px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .Banner1-button h1 {
    font-size: 90px;
  }
  .Banner1-button h2 {
    font-size: 65px !important;
  }
  .content h1 {
    font-size: 10px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .Banner1-button h1 {
    font-size: 80px;
  }
  .Banner1-button h2 {
    font-size: 57px !important;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .Banner1-button h1 {
    font-size: 70px;
  }
  .Banner1-button h2 {
    font-size: 47px !important;
  }
}

@media (max-width: 768px) {
  .Banner1-Main {
    margin: 1rem 1rem 0rem 1rem;
    border-width: 2px;
  }

  .Banner1-button {
    width: 90%;
    margin: 2rem 0;
  }

  .Banner1-button h1 {
    font-size: 2rem !important;
    line-height: 1.2;
  }
  .Banner1-button h2 {
    font-size: 1.55em !important;
    line-height: 1.2;
  }

  .Banner1-contant {
    flex-direction: column;
    align-items: flex-start;
  }

  .Banner1-contant p {
    width: 100%;
    font-size: 0.875rem;
  }

  .banner1-bottom-content {
    flex-direction: column;
    gap: 0.1rem;
  }

  .banner1-bottom-content button {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}
